extends layout

block content
  a.navbar-link(href='/') 검색창으로
  div.form-group
  
  form(action='/downloadImage',method='post')
    -for(var prop in img)
      .col-xs-6.col-md-3
        div.checkbox_image
          a.thumbnail(href=img[prop])
            input#a(type='checkbox', name='checked_Image', value='#{img[prop]}')
            img(src='#{img[prop]}')
    button.button(type='submit', name='search') 다운로드
    p
