extends layout

block content
  h1= title
  div.form-group
  form(action='/displayImage',method='post')
    input#word(type='text', name='word', value='Search')
    button.button(type='submit', name='search') 검색
    p
